<!DOCTYPE html> <!-- HTML5 Doctype -->
<html lang="en">
  <head>
    <title><%= @title %></title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta charset="ISO-8859-1"> <!-- simplified version; works on legacy browsers -->
    <meta name="MSSmartTagsPreventParsing" content="true">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="Description" content="Gang's Clock Web Page">
    <meta name="Distribution" content="Global">
    <meta name="KeyWords" content="Gang, Clock, Ruby, Ruby on Rails, Trainer On Rails, Rails course, course">
    <meta name="copyright" content="Copyright (c) 2011-2011 Marcos Ricardo. All Rights Reserved.">
    <meta name="robots" content="all">
    <meta name="author" content="Marcos Ricardo">
    <meta name="googlebot" content="noarchive">
    <%= csrf_meta_tag %>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <%= link_to_unless_current "Home",     home_path  %> |
    <%= link_to_unless_current "About Us", about_path %> |
    <%= link_to_unless_current "Sign In",  signin_path %>

    <%= yield %>
  </body>
</html>
